{% extends 'base.html' %}

{% block content %}

<div class="detail-card">

    {% if student.picture %}
        <img src="{{ student.picture.url }}" class="detail-img">
    {% endif %}

    <h1>{{ student.name }} {{ student.surename }}</h1>

    <p><b>Age:</b> {{ student.age }}</p>
    <p><b>Email:</b> {{ student.email }}</p>
    <p><b>Phone:</b> {{ student.phone_number }}</p>

    <div class="actions">
        <a href="{% url 'update_student' student.slug %}" class="btn edit">Tahrirlash</a>
        <a href="{% url 'delete_student' student.slug %}" class="btn delete">O'chirish</a>
        <a href="{% url 'student_list' %}" class="btn">Orqaga</a>
    </div>

</div>

{% endblock %}